

  <% if logged_in? %>
  <div class="large-1 column">
      <img class='logo' src='../../imgs/logo.png'>
    </div>
    <div class="large-1 columns nav-links"><%= link_to "Home", root_path, :class => "nav-link" %></div>
    <div class="large-1 columns nav-links"><%= link_to "Logout", logout_path, :class => "nav-link" %></div>
    <div class="large-1 column nav-links"><%= link_to "Profile", user_path(current_user), :class => "nav-link" %></div>
    <% if current_user.requests_recieved.any? %>
    <div class="large-2 columns nav-links"><%= link_to "Recieved Requests[#{current_user.requests_recieved.size}]", requests_path, :class => "notification-header" %></div>
    <%else%>
    <div class="large-2 columns nav-links">
    <%= link_to "Recieved Requests", requests_path, :class => "nav-link" %>
  </div>
    <%end%>
    <div class="large-2 columns nav-links clearer"><%= link_to "Sent Requests", outings_path, :class => "nav-link" %></div>
    <%else%>

    <div class="large-1 column">
      <img class='logo' src='../../imgs/logo.png'>
    </div>
    <div class='large-1 columns nav-links'>
      <p> <%= link_to "Home", root_path %>
    </div>

    <div class='large-1 column nav-links'>
      <span data-div-type="login_button"> <%= link_to "Login", '#' %></span>
    </div>

    <div class='large-9 column nav-links'>
      <span data-div-type="register_button"><%= link_to "Register", '#' %></span> </p>
    </div>

    <%end%>
    <% flash.each do |name, msg| -%>
      <p><%= content_tag :div, msg, class: name %></p>
  <% end -%>

</div>
