
<%= form_for (User.new, multipart: true) do |f| %>
  <p><%=f.text_field :email, placeholder: "email" %></p>
  <p><%=f.text_field :first_name, placeholder: "first name"%></p>
  <p><%=f.text_field :last_name, placeholder: "last name"%></p>
  <p><%=f.text_field :username, placeholder: "username" %></p>
  <p><%=f.select :location, [["Brooklyn"],["Manhattan"],["Queens"], ["Staten Island"], ["Bronx"]] %></p>
  <p><%=f.text_field :address, placeholder: "address" %></p>
  <p><%=f.label :upload_profile_picture %></p>
  <p><%=f.file_field :profile_picture %>
  <p><%=f.label :upload_a_picture_of_where_you_watch_TV %></p>
  <p><%=f.file_field :where_you_watch_picture %>
  <p><%=f.password_field :password, placeholder: "password" %></p>


 <p> <%= f.submit "Become a Watcher"%> </p>

<%end%>
