
<%= form_for User.new do |f| %>
  <p><%=f.text_field :email, placeholder: "email" %></p>
  <p><%=f.text_field :first_name, placeholder: "first name"%></p>
  <p><%=f.text_field :last_name, placeholder: "last name"%></p>
  <p><%=f.text_field :username, placeholder: "username" %></p>
  <p><%=f.select :location, [["Brooklyn"],["Manhattan"],["Queens"], ["Staten Island"], ["Bronx"]] %></p>
  <p><%=f.text_field :address, placeholder: "address" %></p>
  <p><%=f.password_field :password, placeholder: "password" %></p>


 <p> <%= f.submit "Become a Watcher"%> </p>

<%end%>
