
<div class= "container">

  <div id= "profile-box">
    <div id = "profile-images-container">
      <%=image_tag(@user.profile_picture.url(:square), :class => "profile-pic")%>
      <%=image_tag(@user.where_you_watch_picture.url(:square), :class => "apt-photo")%>
      <p data-div-type="new_event_button" class="button" >New Event</p>

    </div>
    <div id = "profile-text-container">
      <span id="profile-name"><%= @user.first_name %> <%= @user.last_name %></span>
      <p><span id="profile-location"><%= @user.location %></span>
      <p><span id="profile-about"><%= @user.about_me %></span></p>
    </div>
  </div>

  <div id = "events-tabs">
    <p><span data-div-type="hosted_events">Hosted Events</span> | <span data-div-type="upcoming_events">Upcoming Events</span></p>
  </div>

  <div class= "upcoming-events" data-div-type="upcoming_events_body">
  <header class="box-header">
    <h5 class=" box-header-title"><img class="calendar" src="../../imgs/calendar.png" /> Upcoming Events</h5>
  </header>
  <% if @user.requests_approved.any? %>
    <% @user.requests_approved.each do |event| %>
    <p><%= event.date.month %>/<%= event.date.day %>/<%= event.date.year %> <%= event.time.hour %>:<%= event.time.min %></p>
    <p><%= event.show %></p>
    <p><%= event.host.location %></p>
    <p><%= event.host.address %></p>
     <div class= "card-actions">
      <ul class= "event-show">
       <a href="/events/<%=event.id%>"> <img class="read-more" src="../../imgs/read_more_button.png" /></a>
      </ul>
    </div>
    <hr >
    <% end %>
  <%end%>
  </div>

  <div class= "upcoming-events" id="events-container" data-div-type="hosted_events_body">
  <header class="box-header">
    <h5 class=" box-header-title"><img class="calendar" src="../../imgs/calendar.png" /> Hosted Events</h5>
  </header>
  <% if @user.events.any? %>
    <% @user.events.each do |event| %>

    <p><%= event.date.month %>/<%= event.date.day %>/<%= event.date.year %> <%= event.time.hour %>:<%= event.time.min %></p>
    <p><%= event.show %></p>
    <p><%= event.host.location %></p>
    <p><%= event.host.address %></p>
    <p><%= link_to "Cancel Event", event_path(event), :method => "DELETE" %>
     <div class= "card-actions">
      <ul class= "event-show">
       <a href="/events/<%=event.id%>"> <img class="read-more" src="../../imgs/read_more_button.png" /></a>
      </ul>
    </div>
    <hr >
    <% end %>
  <%end%>

  </div>

</div>
<div class="conversations">
  <% if @user.received_messages.any? %>
    <% @user.received_messages.each do |conversation|%>
      <%=link_to "Conversation Between #{conversation.sender.first_name} and #{conversation.reciever.first_name}", conversation_path(conversation)%>
    <%end%>
  <%end%>
</div>
<div class = "users_partial2" data-div-type = "new_events_partial">
  <%= render partial:'/events/new_event', layout: false%>
</div>
