<div class='row'>
	<div id='header'>
			Watch with Friends
		</div>
</div>
<div class='row'>
	<%= form_tag(events_path, :method => "get", id: "search-form") do %>

	<div class="large-3 columns location_drop">
		<%= select_tag :location, options_for_select([['Brooklyn'], ['Manhattan'], ['Staten Island'], ['Queens'], ['Bronx']]) %>
	</div>

	<div class="large-7 columns show_search ">
		<%= text_field_tag :show, params[:show], placeholder: "Search for Shows" %>
	</div>

	<div class="large-2 columns">
		<span class="submit-button">
			<%= submit_tag "Search", class: 'submit_search' %>
		</span>
	</div>
<%end%>
</div>


<div id = "app_description">
	<span class="wwf">Discover a New Favorite Show</span>
		<br>
	<div class='callout'>
		<img class="show-1" src="../../imgs/daily-show.jpg">
		<img class="show-2" src="../../imgs/walking-dead-season-1.jpg">
		<img class="show-3" src="../../imgs/saul-art1.jpg">
		<img class="show-4" src="../../imgs/GOT.jpg"
	</div>
		<hr>
	<span class="subheading">Connect with others in your Community</span>
		<br>
		<img class="brooklyn" src="../../imgs/boroughs/brooklyn_heights_1.jpg">
		<p class="borough">Brooklyn</p>
		<img class="manhattan" src="../../imgs/boroughs/Above_Gotham.jpg">
		<p class="borough">Manhattan</p>
		<br>
		<img class="queens" src="../../imgs/boroughs/queens.jpg">
		<p class="borough">Queens</p>
		<img class="bronx" src="../../imgs/boroughs/bronxhub1.jpeg">
		<p class="borough">Bronx</p>
		<img class="staten_island" src="../../imgs/boroughs/original.jpg">
		<p class="borough">Staten Island</p>
	<hr>
	<p>How it Works</p>
	<div class='host-guest'>
		<p> <span data-div-type="host_clicker">Hosts</span> | <span data-div-type="guest_clicker">Guests</span> </p>
	</div>
</div>

<%= render partial: '/home/guest_description', layout: false %>

<%= render partial: '/home/host_description', layout: false %>

<div class = "users_partial2" data-div-type = "users_partial">
	<%= render partial:'/users/register', layout: false %>
</div>

<div class = "users_partial" data-div-type = "login_partial">
	<%= render partial:'/users/login', layout: false %>
</div>
