<div data-div-type="video"><%= video_tag "lukeandrew.mov", :autoplay => true, :loop => true, muted: true , :class => "home-page-video"%>
<h1 class="header">Watch With Friends</h1>
<div class="row">
<%= form_tag(events_path, :method => "get", id: "search-form") do %>
	<div class="large-4 columns">
	<%= select_tag :location, options_for_select([['Brooklyn'], ['Manhattan'], ['Staten Island'], ['Queens'], ['Bronx']]) %>
	</div>
	<div class="large-5 columns">
	<%= text_field_tag :show, params[:show], placeholder: "Search for Shows" %>
	</div>
	<div class="large-3 columns">
	<%= submit_tag "Search" %>
	</div>
<%end%>
</div>
</div>
<div class = "users_partial2" data-div-type = "users_partial">
	<%= render partial:'/users/register', layout: false %>
</div>
<div class = "users_partial" data-div-type = "login_partial">
	<%= render partial:'/users/login', layout: false %>
</div>

<div id = "app_description">
	<p><span class="wwf">Watch With Friends</span> allows you to connect with others in your community and watch TV together.</p>
	<p>Learn more:</p>
	<p> Hosts | Guests </p>
</div>

<div class="description1">
	<img class = "home-image" src="/imgs/search.png" />
	<p>
		One you've registered with Watch With Friends, finding a place to watch your favorite shows is easy.  Simply select your borough and the show you want to watch. Look through the results and find the event you want to attend.  You can check out info about the host and the other guests who are attending before you decide.
	</p>
</div>
<div class="description2">
	<p>
		Once you've found an event you want to attend, make a request to the host.  You'll be able to check the status of your request on the "sent requests tab" on the navigation bar at the top of the page.
	</p>
	<img class = "home-image" src="/imgs/sentrequests.png" />
</div>
<div class="description3">
	<img  id="last-home-img" class = "home-image" src="/imgs/watch.jpg" />
	<p>
		If your request gets accepted, you'll see "Accepted!" along with other information about the event on that event's page.  Show up to your host's address at the approriate time and watch with friends!
	</p>
</div>


