<%= form_for Event.new do |f| %>
  <p><%=f.text_field :show, placeholder: "Whatcha watchin?" %></p>
  <p><%=f.number_field :max_occupancy, placeholder: "Number of available seats" %>
  <p><%=f.text_field :description, placeholder: "Any other info?" %>
  <p><%=f.time_select :time, placeholder: "time"%></p>
  <p><%=f.date_select :date, placeholder: "date"%></p>
 <p> <%= f.submit "Create Event"%> </p>

<%end%>
