<% if @events.any? %>
<div class= "container">

	<div class= "upcoming-events">
	<header class="box-header">
	  <h5 class=" box-header-title"><img class="calendar" src="../../imgs/calendar.png" /> Upcoming Events</h5>
	</header>
	  <% @events.each do |event| %>

	  <p><%= event.date.month %>/<%= event.date.day %>/<%= event.date.year %> <%= event.time.strftime("%I:%M %p") %></p>
	  <p>Show: <%= event.show %></p>
	  <p>Location: <%= event.host.location %></p>
	  <p>Address: <%= event.host.address %></p>
	  <p>Host Name: <%= event.host.first_name%> <%= event.host.last_name%></p>
	  <%if logged_in? %>
		  <%if event.host != current_user %>
		  	<%if event.has_no_user_requests(current_user.id)%>
				  <%= form_for @request do |f| %>
				  	<%= f.hidden_field :event_id, :value => event.id %>
				  	<%= f.submit "Send a Request"%>
				  <%end%>
			<%end%>
		  <%else%>
		  	<h4>You're hosting this event!</h4>
		  <%end%>
	  <%end%>
	   <div class= "card-actions">
	    <ul class= "event-show">
	     <a href="/events/<%=event.id%>"> <img class="read-more" src="../../imgs/read_more_button.png" /></a>
	    </ul>
	  </div>
	  <hr >
	  <% end %>

	</div>
</div>
<%else%>
	<h1 class="h1-title">Sorry but there are no events</h1>
<%end%>
