<div class="apartment">
  <img class="apartment-photo" src="../../imgs/apartment.jpg" />
  <p><%= @event.shows %></p>



</div>

<div class="event_time">
  <p><%=@event.time.hour%>:<%=@event.time.min%></p>
</div>

<div class="event_date">
  <p><%=@event.date.month %> / <%=@event.date.day %> / <%=@event.date.year %></p>
</div>

<div class="host">
    <img class="host-photo" src="../../imgs/user.jpg" />
    <p></p>
 </div>

<div class="photo3">
</div>

<div class="attending_button">
</div>
