
<div id= "event_container">
  <div id = "event_images_container">
    <%=image_tag(@event.host.where_you_watch_picture.url(:square), :class => "apartment-photo")%>
    <%=image_tag(@event.host.profile_picture.url(:square), :class => "host-photo")%>
  </div>
  <div id = "event_text_container">
      <h2><%=@event.show%></h2>
  <p><span id="hosted_by">Hosted by: <%= @event.host.first_name %> <%= @event.host.last_name %></span></p>
    <p><%=@event.date.month %> / <%=@event.date.day %> / <%=@event.date.year %></p>
  <p><%=@event.time.strftime("%I:%M %p") %></p>
  <%if @event.filled? %>
  	<h3 class="full" >Sorry but this event is full</h3>
  <%end%>
  </div>
</div>

<!-- <div class="photo3">
  <p><img src="../../imgs/person1.png" /></p>
  <p><img src="../../imgs/person2.png" /></p>
</div> -->

<div class="attending_button">
	<%if @event.attending_guests%>
		<%@event.attending_guests.each do |guest| %>
			<div class="guest-attending">
				<div class="guest-text">
					<p class="guest-attending-name"><%= guest.first_name %> <%= guest.last_name%> is Attending!</p>
          <p class="guest-attending-text"><%=guest.about_me%></p>
				</div>
        <%=image_tag(guest.profile_picture.url(:square), :class => "guest-image")%>
			</div>
		<%end%>
	<%else%>
		<%@event.max_occupancy.times do |guest| %>
			<div class="guest-attending">
				<div class="guest-text">
					<p class="guest-attending-name">Empty Slot available</p>
				</div>
				<img class="guest-image" src="http://placehold.it/350x350" />
			</div>
		<%end%>
	<%end%>
	<%(@event.max_occupancy - @event.attending_guests.size).times do |guest| %>
		<div class="guest-attending">
			<div class="guest-text">
				<p class="guest-attending-name">Empty Slot available</p>
			</div>
			<img class="guest-image" src="http://placehold.it/350x350" />
		</div>
	<%end%>
</div>


</div>
