<% if @requests.any? %>
	<% @requests.each do |request| %>
		<div class="requests-recieved">
			<div id="request-image-container">
			  <div class="request-form">
				  <%= render partial: "request_form" , locals: {request: request}%>
			  </div>
			    <%=image_tag(request.guest.profile_picture.url(:square), :class => "request-image")%>
		  </div>
		  <%= form_for Conversation.new do |f|%>
		  	<%= f.hidden_field :sender_id, :value => current_user.id%>
		  	<%= f.hidden_field :reciever_id, :value => request.guest.id %>
		  	<%= f.submit "Start Converation", :class => "button"%>
		  <%end%>
		  <div id = "request_info">
			  <h3 class="show-name"><%= request.event.show %></h3>
			  <h4 class="guest-name">Guest Name: <%= request.guest.first_name%> <%= request.guest.last_name %></h4>
			  <div class="text">
				  <p>Date: <%= request.event.date %></p>
				  <p>Time: <%= request.event.time.strftime("%I:%M %p") %></p>
				  <p>Shows: <%= request.event.show %></p>
				  <p>About your Guest: <%= request.guest.about_me %></p>
			  </div>
		  </div>
		</div>
	<%end%>
<%else%>
	<h1 class="h1-title">You have no requests</h1>
<%end%>