<% if @requests.any? %>
	<% @requests.each do |request| %>
		<div class="requests-recieved">
			<div class="text">
				<%if request.active == 1%>
					<h3>Undecided</h3>
				<%elsif request.active == 0%>
					<h3 class="Happy">Accepted!</h3>
				<%else%>
					<h3 class="Sad">Declined</h3>
				<%end%>
				<p>Request</p>
				<p>Date: <%= request.event.date %></p>
				<p>Time: <%= request.event.time.strftime("%I:%M %p") %></p>
				<p>Show: <%= request.event.show %></p>
				<p>Name of Host: <%= request.host.first_name%> <%= request.host.last_name %></p>
				<p>About your Host: <%= request.host.about_me %></p>
			</div>
			<%=image_tag(request.event.host.where_you_watch_picture.url(:square), :class => "request-image" ) %>
		</div>
	<%end%>
<%else%>
	<h1 class="h1-title">You have no sent requests</h1>
<%end%>
