<!DOCTYPE html>
<html>
<head>
  <title>Wannawatch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Expletus+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav>
      <% if logged_in? %>
      <p><%= link_to "Home", root_path %> | <%= link_to "Logout", logout_path %> | <%= link_to "Profile", user_path(current_user) %> | <%= link_to "Recieved Requests", requests_path %> | <%= link_to "Sent Requests", outings_path %></p>
      <%else%>
			<p> <%= link_to "Home", root_path %> |<span data-div-type="login_button"> <%= link_to "Login", '#' %></span> | <span data-div-type="register_button"><%= link_to "Register", '#' %></span> </p>
      <%end%>
      <% flash.each do |name, msg| -%>
        <p><%= content_tag :div, msg, class: name %></p>
      <% end -%>
	</nav>

<%= yield %>

</body>
</html>
